.container {
  display: flex;
  height: 50vh;
  width: 50vw;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  position: relative;
  left: 280px;
  top: 100px;
  justify-content: flex-start;
  margin: 0px 50px;
  padding: 50px;
  border-radius: 25px;
}

.img {
  display: flex;
  justify-content: center;
}
.pic {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

table tr {
  line-height: 2.5em;
}

table th {
  text-align: left;
  padding-right: 1em;
}
.right {
  padding-left: 60px;
}
